<div class="row my-5">
  <div class="offset-1 col-10">
    <p class="headline">Issues</p>
    <% @issues.each do |issue| %>
      <div class="row my-3">
        <%= render 'issues/index_card', team: @team, issue: issue %>
      </div>
    <% end %>

    <div class="row flex-column align-items-end mt-3 mr-3">
      <%= link_to "more >>", team_issues_path, class:"btn btn-danger btn-sm" %>
    </div>
  </div>
</div>

<div class="row my-6">
  <div class="offset-1 col-10">
    <p class="headline mt-5">Members</p>
    <div class="row">
        <% @users.each do |user| %>
          <div class="col">
            <%= render 'users/member_card', team: @team, user: user %>
          </div>
        <% end %>
    </div>

    <div class="row flex-column align-items-end mt-3 mr-3">
      <%= link_to "more >>", team_users_path, class:"btn btn-danger btn-sm" %>
    </div>
  </div>
</div>


<div class="row my-5">
  <div class="offset-1 col-10">
    <p class="headline mt-5">Tags</p>
    <div class="row px-5">
      <% @tags.each do |tag| %>
        <%= link_to tag.name, team_tag_issues_path(@team, tag), class: "btn btn-sm btn-dark mt-3 mr-3" %>
      <% end %>
    </div>

    <div class="row flex-column align-items-end mt-3 mr-3">
      <%= link_to "more >>", team_tags_path, class:"btn btn-danger btn-sm" %>
    </div>
  </div>

</div>
