<%= form_with model: [team, issue] do |f| %>

  <p class="headline pb-2">Tags</p>
  <p class="mb-3">
    status：
    <span class="rounded border border-dark bg-dark text-white px-1">selected</span>
    <span class="rounded border border-dark px-1">not selected</span>
  </p>
  <div class="form-group checkboxes">
    <%= f.collection_check_boxes :tag_ids, team.tags, :id, :name, include_hidden: false do |tag| %>
      <%= tag.check_box %>
      <%= tag.label %>
    <% end %>
  </div>

  <p class="headline mt-5">Title</p>
  <div class="form-group">
    <%= f.text_field :title, class:"form-control offset-1 col-10" %>
  </div>

  <p class="headline mt-5">Body</p>
  <div class="form-group">
    <%= f.text_area :body, class:"form-control offset-1 col-10" %>
  </div>

  <div class="row flex-column align-items-center mt-5">
    <span class="titlemark"><%= flash[:error] %></span>
  </div>
  <%= f.submit "Update issue", class:"btn btn-dark btn-dark offset-2 col-8" %>
<% end %>