<div class="card callout-coral">
  <div class="card-body">

<%# title / like %>
    <h3 class="card-title">
      <%= issue.title %>
      <% if controller.action_name == 'show' %>
        <% if issue.likes_by?(current_user) %>
          <%= link_to "★", team_issue_likes_path, method: :delete, class: "text-warning float-right" %>
        <% else %>
          <%= link_to "☆",team_issue_likes_path, method: :post, class: "text-warning float-right"  %>
        <% end %>  
      <% end %>
    </h3>

<%# tags %>
    <h6 class="card-subtitle mb-2 text-muted">
      <% issue.tags.each do |tag| %>
        <%= link_to tag.name, team_tag_issues_path(team, tag), class: "btn btn-dark btn-sm py-0" %>
      <% end %>
    </h6>

<%# body %>
    <p class="card-text"><%= issue.body %></p>

<%# buttones %>
    <div class="float-right">
      <%= link_to team_mypage_path(team, issue.user) do %>
        <%= attachment_image_tag issue.user, :profile_image, :fill, 30, 30, format: 'jpeg', fallback: "noimage.jpg", size: "30x30" %>
        <%= issue.user.name %>
      <% end %>

      <% if display_true %>
        <%= link_to edit_team_issue_path(team, issue), class: "btn btn-outline-success btn-sm mx-1" do %>
          <i class="fas fa-edit"></i>
        <% end %>
        <%= link_to team_issue_path(team, issue), method: :delete, data: { confirm: "will you delete it?"}, class: "btn btn-outline-danger btn-sm" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      <% end %>
    </div>

  </div>
</div>
