<div class="row flex-column align-items-center my-5">
  <h1 class="titlemark">・</h1>
  <h3>Issues</h3>
  <h1 class="titlemark">・</h1>
</div>

<%= form_with url: team_issues_search_path(@team), method: :get, local: true do |f| %>
  <%= f.select :target, [["タイトル", "title"], ["本文", "body"], ["タグ", "tag"], ["ユーザー", "user"]], prompt: "選択してください" %>
  <%= f.text_field :q, placeholder: "検索ワードを入力" %>

  <%= f.radio_button :status,  "" %>
  <%= f.label :has_settled, "指定なし" %>
  <%= f.radio_button :status,  "settled" %>
  <%= f.label :has_settled, "解決済み" %>
  <%= f.radio_button :status,  "unsettled" %>
  <%= f.label :has_settled, "未解決" %>

  <%= f.submit "検索" %>
<% end %>
<%= link_to "検索条件を削除", team_issues_path(@team), class:"btn btn-sm btn-dark" %>

<div class="offset-1 col-10">
  <% @pagenated_issues.each do |issue| %>
    <div class="row mt-3">
      <%= render 'issues/index_card', team: @team, issue: issue %>
    </div>
  <% end %>
</div>

<div class="row justify-content-center my-5">
  <%= paginate @pagenated_issues %>
</div>
