<h1>New issue</h1>

<% if flash[:error] %>
  <%= flash[:error] %>
<% end %>

<%= form_with model: @issue, url: team_issues_path do |f| %>
  <%= f.label :Issue %><br>
  <%= f.text_area :body, placeholder: "What's happened ?" %><br>
  <%= f.submit %><br>
<% end %>