<div class="row flex-column align-items-center my-5">
  <h1 class="titlemark">・</h1>
  <h3>Issue</h3>
  <h1 class="titlemark">・</h1>
</div>

<!-- issue -->
<div class="row">
  <div class="offset-1 col-10">
    <%= render 'show_card', team: @team, issue: @issue %>
  </div>
</div>

<!-- comments -->
<div class="row mt-5">
  <div class="offset-2 col-8">
    <% @comments.each do |comment| %>
      <%= render 'comments/comment_card', team: @team, issue: @issue, comment: comment %>
    <% end %>
  </div>
</div>

<!-- comment form -->
<div class="row mt-3">
  <div class="offset-3 col-6">
    <span class="titlemark"><%= flash[:error] %></span>

    <% unless @issue.has_settled == true %>
      <%= form_with model: @new_comment, url: team_issue_comments_path(@team, @issue) do |f| %>
        <div class="form-group">
          <%= f.text_area :comment, class: "form-control" %>
          <%= f.submit :post, class: "btn btn-sm btn-dark float-right mt-1" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<% !@issue.has_settled && @issue.user == current_user && action_name == 'show' %>
  <div class="row flex-column align-items-center mt-5">
    <strong>Is the issue solved?</strong>
  </div>
    <div class="offset-4 col-4">
      <%= link_to "Choose the best answer.", team_choice_path(@team, @issue), class: "btn btn-danger btn-block mb-5" %>
    </div>
  </div>
<% end %>

<%= link_to "<< Back to Issues", team_issues_path(@team), class:"btn btn-sm btn-dark mb-3" %>

