<h1>Issue</h1>

<% if @issue.has_settled == true %>
  <h3 class="text-warning">＼ Well done！／</h3>
<% end %>

<%= attachment_image_tag @issue.user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "noimage.jpg", size: "50x50" %>
<%= @issue.user.name %><br>
<%= @issue.title %><br>
<%= @issue.body %><br>
<% @tagging.each do |tagging| %>
  <%= tagging.tag.name %>
<% end %><br>
<% unless @issue.has_settled == true %>
  <%= link_to "edit issue", edit_team_issue_path(@team, @issue) %><br>
  <%= link_to "DESTROY", team_issue_path(@team, @issue), method: :delete, data: { confirm: "will you delete it?"} %>
<% end %><br>
<% if @issue.likes_by?(current_user) %>
  <%= link_to "★", team_issue_likes_path, method: :delete %>
<% else %>
  <%= link_to "☆",team_issue_likes_path, method: :post  %>
<% end %>

<h3>comments</h3>

<% @comments.each do |comment| %>
  <%= attachment_image_tag comment.user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "noimage.jpg", size: "50x50" %>
  <%= comment.user.name %>
  <%= comment.comment %>
  <% unless @issue.has_settled == true %>
    <%= link_to "edit comment", edit_team_issue_comment_path(params[:team_id], params[:issue_id], comment) %>
    <%= link_to "DESTROY", team_issue_comment_path(params[:team_id], params[:issue_id], comment), method: :delete, data: { confirm: "will you delete it?"} %> <br>
  <% end %>
<% end %>

<%= flash[:error] %>

<%= form_with model: @new_comment, url: team_issue_comments_path(params[:team_id], params[:issue_id]) do |f| %>
  <%= f.text_field :comment %>
  <%= f.submit %>
<% end %>

<%= link_to "Is the issue solved?", team_choice_path(@team, @issue) %>
