<div class="row flex-column align-items-center my-5">
  <h1 class="titlemark">・</h1>
  <h3>Issue</h3>
  <h1 class="titlemark">・</h1>
</div>

<% if @issue.has_settled == true %>
  <div class="row flex-column align-items-center mt-3">
    <h3 style="color: #ff7f50;">＼ Well done！／</h3>
  </div>
<% end %>

<div class="row">
  <div class="offset-1 col-10">
    <%= render 'issue_card', team: @team, issue: @issue %>
  </div>
</div>

<div class="row mt-5">
  <div class="offset-2 col-8">
    <% @comments.each do |comment| %>
      <%= render 'comments/comment_card', team: @team, issue: @issue, comment: comment %>
    <% end %>
  </div>
</div>

<%= flash[:error] %>

<div class="row mt-3">
  <div class="offset-3 col-6">
    <%= form_with model: @new_comment, url: team_issue_comments_path(params[:team_id], params[:issue_id]) do |f| %>
      <div class="form-group">
        <%= f.text_area :comment, class: "form-control" %>
        <%= f.submit :post, class: "btn btn-outline-dark float-right mt-1" %>
      </div>
    <% end %>
  </div>
</div>

<div class="row my-5">
  <div class="offset-4 col-4">
    <%= link_to "Is the issue solved?", team_choice_path(@team, @issue), class: "btn btn-dark btn-block" %>
  </div>
</div>
