<div class="card">
  <%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: "noimage.jpg", class: "card-img-top" %>
  <div class="card-body">
    <h5 class="card-title headline"><%= user.name %></h5>
    <p class="card-text"><%= user.introduction %></p>

    <div class="d-flex justify-content-end">
      <div class="ml-2">
        <i class="fas fa-pen-fancy"></i><%= user.issues.count %>
      </div>

      <div class="ml-2">
        <i class="fas fa-comment"></i><%= user.issues.map{|issue| issue.comments.count}.sum %>
      </div>

      <% if user == current_user %>
        <%= link_to edit_user_path(user), class:"btn btn-outline-success btn-sm ml-2" do %>
          <i class="fas fa-cog"></i>
        <% end %>
      <% end %>
    </div>

  </div>
</div>
