<div class="card">
  <%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: "noimage.jpg", class: "card-img-top" %>
  <div class="card-body">
    <h5 class="card-title headline"><%= user.name %></h5>
    <p class="card-text"><%= user.introduction %></p>

    <div class="d-flex justify-content-end">
      <% if team.present? %>
        <%= link_to team_user_issues_path(team, user), class:"text-dark" do %>
          <i class="fas fa-pen-fancy"></i><%= team.issues.where(user_id: user).count %>
        <% end %>
        <div class="ml-2">
          <i class="fas fa-comment"></i><%= team.issues.map{|issue| issue.comments.where(user_id: user).count}.sum %>
        </div>
      <% end %>

      <%= link_to edit_user_path(user), class:"btn btn-outline-success btn-sm ml-2" do %>
        <i class="fas fa-cog"></i>
      <% end %>
    </div>

  </div>
</div>
