<div class="card">
  <%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: "noimage.jpg", class: "card-img-top" %>
  <div class="card-body">
    <h5 class="card-title headline"><%= user.name %></h5>
    <p class="card-text"><%= user.introduction %></p>

    <div class="d-flex justify-content-end">
      <%= link_to user_issues_path(user), class:"text-dark" do %>
        <i class="fas fa-pen-fancy"></i><%= user.issues.count %>
      <% end %>
      <%= link_to user_comments_path(user), class:"text-dark ml-2" do %>
        <i class="fas fa-comment"></i><%= user.comments.count %>
      <% end %>
      <%= link_to edit_user_path(user), class:"btn btn-outline-success btn-sm ml-2" do %>
        <i class="fas fa-cog"></i>
      <% end %>
    </div>

  </div>
</div>
