<%= flash[:error] %>

<div class="offset-2 col-8">
  <%= form_with model: current_user do |f| %>

    <p class="headline mt-5">Name</p>
    <div class="form-group">
      <%= f.text_field :name, class: "form-control offset-1 col-10" %>
    </div>

    <p class="headline mt-5">Introduction</p>
    <div class="form-group">
      <%= f.text_area :introduction, class: "form-control offset-1 col-10" %>
    </div>

    <p class="headline mt-5">Image</p>
    <div class="form-group">
      <%= f.attachment_field :profile_image, class: "offset-1 col-10" %>
    </div>

    <%= f.submit "Update profile", class:"btn btn-danger btn-block offset-1 col-10 mt-5" %>
  <% end %>
</div>

<%= link_to "My page", mypage_path, class: "btn btn-dark btn-sm float-left m-5" %>
