<div class="row flex-column align-items-center">
  <h1 class="titlemark mb-5">My page</h1>
</div>

<div class="row">
  <div class="offset-1 col-10">
<%# profile %>
    <div class="row">
      <div class="col-2">
        <%= attachment_image_tag current_user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "noimage.jpg", size: "100x100" %>
      </div>

      <div class="col-5 d-flex flex-column justify-content-between">
        <div class="row mt-3">
          <span>name：</span><%= current_user.name %>
        </div>
        <div class="row mb-3">
          <span>introduction：</span><br>
          <%= current_user.introduction %>
        </div>
      </div>

      <div class="col-2 d-flex align-items-end">
        <%= link_to "edit", edit_user_path(current_user), class: "btn btn-outline-success" %>
      </div>
    </div>

<%# charts %>
  <div class="row flex-column align-items-start">
    <p>total</p>
    <canvas id="totalChart"></canvas>
    <%= render 'users/charts/total_chart' %>

    <p>response</p>
    <canvas id="responseChart"></canvas>
    <%= render 'users/charts/response_chart' %>

    <p>required time</p>
    <canvas id="requiredTimeChart"></canvas>
    <%= render 'users/charts/required_time_chart' %>

    <p>likes</p>
    <canvas id="likeChart"></canvas>
    <%= render 'users/charts/like_chart' %>
  </div>
  
  </div>
</div>