<h1>My page</h1>

<div class="row">
  <div class="col-3">
    <%= render 'teams/teams', team_members: @team_members %>
  </div>

  <div class="col-9">
    <%= attachment_image_tag current_user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "noimage.jpg", size: "100x100" %><br>
    <span>name：</span><%= current_user.name %><br>
    <span>introduction：</span><%= current_user.introduction %><br>
  </div>
</div>

  <%= link_to "Edit user", edit_user_path(current_user) %>