<div class="row flex-column align-items-center my-5">
  <h1 class="titlemark">・</h1>
  <h3>使い方</h3>
  <h1 class="titlemark">・</h1>
</div>

<div class="row">
  <%= render 'howto1' %>
</div>

<p class="headline mt-5"></p>

<div class="row mt-5">
  <%= render 'howto2' %>
</div>

<p class="headline mt-5"></p>

<div class="row mt-5">
  <%= render 'howto3' %>
</div>

<p class="headline mt-5"></p>

<div class="row mt-5">
  <%= render 'howto4' %>
</div>

<div class="row my-5">
  <div class="offset-2 col-8">
    <%= link_to "ToTをはじめる", new_user_registration_path, class:"btn btn-danger btn-block" %>
  </div>
</div>

<div class="row flex-column align-items-center" id="about">
  <h1 class="titlemark">・</h1>
  <h3>このサイトについて</h3>
  <h1 class="titlemark">・</h1>
</div>

<div class="row">
  <div class="offset-2 col-8">
    <p class="headline mt-5">はじめに</p>
    <p>
      このサイトは、就職活動にあたって制作されたポートフォリオサイトです。サインアップ後、メニューの"Join team"より下記チームをフォームに入力してご参加ください。
    </p>

    <p class="my-3 ml-5">
      Team name : test<br>
      Team id : 1<br>
    </p>

    <p id="criteria">
      また、サインアップ時のメールアドレスは存在しないアドレスでも登録できる仕様です。ユーザー認証以外で使用することはありません。
    </p>
  </div>
</div>

<div class="row">
  <div class="offset-2 col-8">
    <p class="headline mt-5">評価基準について</p>
      <p>
        マイページ、及びユーザーの個人ページに表示されているグラフは、ユーザーの動作に基づいてスコアが算出されています。
      </p>

    <p class="headline mt-5">Questioner</p>
    <p>
      <span class="bg-dark text-white rounded px-2">Likes</span><br>
      立ち上げたissueに対するいいねの総数です。<br>
      提起した問題の共感度が分かります。
    </p>
    <p>
      <span class="bg-dark text-white rounded px-2">Issue viewed</span><br>
      立ち上げたissueに対する閲覧数の総数です。<br>
      提起した問題の注目度が分かります。
    </p>
    <p>
      <span class="bg-dark text-white rounded px-2">Tags</span><br>
      立ち上げたissueについているタグの割合です。<br>
      どの分野によく疑問を感じるのかが分かります。
    </p>
  </div>
</div>

<div class="row">
  <div class="offset-2 col-8">
    <p class="headline mt-5">Answerer</p>
    <p>
      <span class="bg-dark text-white rounded px-2">Time to response</span><br>
      issueに対して最初にコメントする早さの平均値です。<br>
      問題提起に反応している早さが分かります。
    </p>
    <p>
      <span class="bg-dark text-white rounded px-2">Time to solved</span><br>
      issueに対してコメントしてから解決する速さの平均値です。<br>
      問題を解決する早さが分かります。
    </p>
    <p>
      <span class="bg-dark text-white rounded px-2">Best answer</span><br>
      ベストアンサーに選ばれたコメントの総数です。<br>
      どれだけ問題解決に貢献しているかが分かります。
    </p>
    <p>
      <span class="bg-dark text-white rounded px-2">Tags</span><br>
      コメントしたissueについているタグの割合です。<br>
      どの分野の問題解決に強いかが分かります。
    </p>
  </div>
</div>

<div class="row flex-column align-items-center">
  <small>※あくまでも、このサイトにおいての判断基準です。</small>
</div>

<div class="row my-5">
  <div class="offset-2 col-8">
    <%= link_to "ToTをはじめる", new_user_registration_path, class:"btn btn-danger btn-block" %>
  </div>
</div>
