<ul id="chartTab" class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a href="#questioner" id="questioner-tab" class="nav-link active" role="tab" data-toggle="tab" aria-controls="questioner" aria-selected="true">
      Questioner
    </a>
  </li>
  <li class="nav-item">
    <a href="#answerer" id="answerer-tab" class="nav-link" role="tab" data-toggle="tab" aria-controls="answerer" aria-selected="false">
      Answerer
    </a>
  </li>
</ul>

<div id="chartTabContent" class="tab-content mt-3">
  <div id="questioner" class="tab-pane active" role="tabpanel" aria-labelledby="questioner-tab">
    <%= render 'charts/questioner_tab' %>
  </div>

  <div id="answerer" class="tab-pane" role="tabpanel" aria-labelledby="answerer-tab">
    <%= render 'charts/answerer_tab' %>
  </div>
</div>

<%= render 'charts/about_link' %>

<%= Gon::Base.render_data %>
<%= javascript_include_tag 'tab_charts', 'data-turbolinks-track': 'reload' %>
