<div class="row flex-column align-items-center my-5">
  <h1 class="titlemark">・</h1>
  <h3>Tags</h3>
  <h1 class="titlemark">・</h1>
</div>

<div class="row">
  <div class="offset-2 col-8">
    <%= render 'tags/search_form', team: @team %>
  </div>
</div>

<div class="row mt-5">
  <div class="offset-1 col-10 offset-md-1 col-md-6">
    <p class="headline">Index</p>
    <% @pagenated_tags.each do |tag| %>
      <%= link_to tag.name, team_tag_issues_path(@team, tag), class:"btn btn-sm btn-dark m-2 py-0" %>
    <% end %>
  </div>

  <div class="offset-1 col-10 mt-5 col-md-4 mt-md-0">
    <%= form_with model: @new_tag, url: team_tags_path do |f| %>

      <p class="headline">New tag</p>
      <div class="input-group offset-1 col-10">
        <%= f.text_field :name, placeholder: "Tag name", class:"form-control", aria_describedby: "button-addon2" %>
        <div class="input-group-append">
        <%= f.submit "Create", class:"btn btn-dark", id:"button-addon2" %>
        </div>
      </div>
    <% end %>
  </div>

</div>
