<div class="row flex-column align-items-center my-5">
  <h1 class="titlemark">・</h1>
  <h3>Log in</h3>
  <h1 class="titlemark">・</h1>
</div>

<div class="row">
  <div class="offset-2 col-8">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <p class="headline mt-5">Mail</p>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control offset-1 col-10" %>
      </div>

      <p class="headline mt-5">Password</p>
      <div class="form-group">
        <%= f.password_field :password, autocomplete: "current-password", class:"form-control offset-1 col-10" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class:"btn btn-danger btn-block offset-2 col-8 my-5" %>
      </div>
    <% end %>
  </div>
</div>
