<div class="sidebar vh-100 sticky-top bg-dark d-flex">

  <nav class="nav flex-column align-items-center col-12">
    <div class="row mx-auto mt-5">
      <%= image_tag 'logo-white.png', width: '100' %>
    </div>

    <div class="nav-items mt-5">
      <% if  request.fullpath.include? "teams" %>

        <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">About team</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "Issues", team_issues_path, class:"dropdown-item" %>
          <%= link_to "Tags", team_tags_path(@team), class:"dropdown-item" %>
          <%= link_to "Members", team_users_path(@team), class:"dropdown-item" %>
        </div>

        <%= link_to "New issue", new_team_issue_path, class: "nav-link" %>

        <%= link_to "My page", team_mypage_path(@team, current_user), class:"nav-link" %>

        <%= link_to "leave team", mypage_path(current_user), class:"nav-link" %>

      <% else %>
        <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">Teams</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <% current_user.teams.each do |team| %>
            <%= link_to team.name, team_path(team), class:"dropdown-item" %>
          <% end %>
        </div>

        <%= link_to "Join team", new_team_member_path, class: "nav-link" %>

        <%= link_to "My page", mypage_path(current_user), class:"nav-link" %>
        
      <% end %>
      <%= link_to "logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
    </div>


    <div class="row mt-auto">
      <p class="text-white mx-auto">© 2020 Kanon inc.</p>
    </div>
  </nav>



</div>
