<div class="row vh-100">
  <nav class="navbar navbar-dark bg-dark flex-column col-12 p-0">

    <ul class="navbar-nav">
      <% if  request.fullpath.include? "teams" %>
        <%= link_to "issues", team_issues_path, class: "nav-link" %>
      <% else %>
        <li class="nav-item">
          <%= link_to "join team", new_team_member_path, class: "nav-link" %>
        </li>
      <% end %>
      <% unless request.fullpath.include? "mypage" %>
        <li class="nav-item">
          <%= link_to "new issue", new_team_issue_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "tags", team_tags_path(@team), class: "nav-link" %>
        </li>
      <% end %>
      <li class="nav-item">
        <%= link_to "logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
      </li>
    </ul>

    <div class="mt-auto mb-5">
      <div class="row">
        <%= image_tag 'logo-white.png', width: '100', class: "mx-auto" %>
      </div>
      <div class="row mt-3">
        <p class="text-white">© 2020 Kanon inc.</p>
      </div>
    </div>

  </nav>
</div>
