<div class="sidebar bg-dark d-flex">
  <nav class="nav flex-column align-items-center col-12">

    <div class="row mt-5">
      <%= link_to root_path do %>
        <%= image_tag 'logo-white.png', width: '100' %>
      <% end %>
    </div>

    <div class="nav-items mt-5">
      <% if @team.present? %>
        <a href="#" class="nav-link dropdown-toggle h3" role="button" data-toggle="dropdown" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-flag"></i>
          <%= @team.name %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to team_issues_path(@team), class:"dropdown-item" do %>
            <i class="fas fa-clipboard-list"></i>
            Issues
          <% end %>

          <%= link_to team_tags_path(@team), class:"dropdown-item" do %>
            <i class="fas fa-tags"></i>
            Tags
          <% end %>

          <%= link_to team_users_path(@team), class:"dropdown-item" do %>
            <i class="fas fa-users"></i>
            Users
          <% end %>

          <%= link_to mypage_path(current_user), class:"dropdown-item" do %>
            <i class="fas fa-running"></i>
            Leave team
          <% end %>
        </div>

        <%= link_to new_team_issue_path(@team), class:"nav-link" do %>
          <i class="fas fa-plus-circle"></i>
          New issue
        <% end %>

        <%= link_to team_user_path(@team, current_user), class:"nav-link" do %>
          <i class="fas fa-id-card"></i>
          My page
        <% end %>

      <% else %>
        <%= link_to root_path, class:"nav-link" do %>
          <i class="fas fa-home"></i>
          Home
        <% end %>

        <%= link_to mypage_path(current_user), class:"nav-link" do %>
          <i class="fas fa-id-card"></i>
          My page
        <% end %>

      <% end %>
      <%= link_to destroy_user_session_path, method: :delete, class:"nav-link" do %>
        <i class="fas fa-sign-out-alt"></i>
        Sign out
      <% end %>
    </div>

    <div class="row mt-auto mb-3">
      <p class="text-white">© 2020 Kanon inc.</p>
    </div>
  </nav>
</div>
