<div class="sidebar bg-dark d-flex">
  <nav class="nav flex-column align-items-center col-12">

    <div class="row mt-5">
      <%= image_tag 'logo-white.png', width: '100' %>
    </div>

    <div class="nav-items mt-5">
      <% if @team.present? %>
        <span class="text-white small align-self-start">You are in ...</span><br>

        <a href="#" class="nav-link dropdown-toggle h3" role="button" data-toggle="dropdown" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
          <%= @team.name %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "Top", team_path, class:"dropdown-item" %>
          <%= link_to "Issues", team_issues_path(@team), class:"dropdown-item" %>
          <%= link_to "Tags", team_tags_path(@team), class:"dropdown-item" %>
          <%= link_to "Users", team_users_path(@team), class:"dropdown-item" %>
        </div>

        <%= link_to "New issue", new_team_issue_path(@team), class:"nav-link" %>

        <%= link_to "My page", team_user_path(@team, current_user), class:"nav-link" %>

        <%= link_to "Leave team", mypage_path(current_user), class:"nav-link" %>

      <% else %>
        <%= link_to "Join team", new_team_member_path, class:"nav-link" %>

        <%= link_to "My page", mypage_path(current_user), class:"nav-link" %>

      <% end %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"nav-link" %>
    </div>

    <div class="row mt-auto mb-3">
      <p class="text-white">© 2020 Kanon inc.</p>
    </div>
  </nav>
</div>
