<!DOCTYPE html>
<html>
  <head>
    <title>Tot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- <div id="gon_base"><%# chart.js呼び出し用タグ %>
      <%= Gon::Base.render_data %>
    </div> -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/f8b5a013fa.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="row">

<%# sidebar %>
      <div class="col-3">
        <% if user_signed_in? %>
          <%= render 'layouts/signin_header' %>
        <% else %>
          <%= render 'layouts/signout_header' %>
        <% end %>
      </div>

<%# body %>
      <div class="col-9">
        <main>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
        </main>
      </div>
    </div>

  </body>
</html>
