<!DOCTYPE html>
<html>
  <head>
    <title>ToT</title>
    <link rel="icon" href="<%= asset_path "favicon.ico" %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/f8b5a013fa.js" crossorigin="anonymous"></script>
  </head>

  <body>
<!-- responsive header -->
    <header class="d-md-none">
      <%= render 'layouts/responsive_header' %>
    </header><!-- /header -->
    <div class="row">
<!-- sidebar -->
      <div class="col-md-3 d-none d-md-block">
        <% if user_signed_in? %>
          <%= render 'layouts/signin_header' %>
        <% else %>
          <%= render 'layouts/signout_header' %>
        <% end %>
      </div>

<!-- body -->
      <main class="col-xs-12 col-md-9">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </main>
    </div>

  </body>
</html>
