<!DOCTYPE html>
<html>
  <head>
    <title>Tot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <%= render 'layouts/signin_header' %>
      <% else %>
        <%= render 'layouts/signout_header' %>
      <% end %>
    </header>

    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>

    <footer class="footer text-white bg-dark">
      <div class="container text-center mt-3">
        <strong>© 2020 Kanon inc.</strong>
      </div>
    </footer>
  </body>
</html>
