<!DOCTYPE html>
<html>
  <head>
    <title>Tot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <%= link_to "logout", destroy_user_session_path, method: :delete %>
        <%= link_to "join team", new_team_member_path %>
        <%= link_to "new issue", new_team_issue_path %>
      <% else %>
        <%= link_to "signup", new_user_registration_path %>
        <%= link_to "login", new_user_session_path %>
      <% end %>
    </header>

    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
